# Prueba de ingeniería de datos

***
#### 1. Descarga la carpeta comprimida que contiene los datos y déjalos en una carpeta exclusiva para este reto que vas a realizar.✔️
##### <font color='green'>Solución:</font>
<font color='green'>Archivos descargados en la ruta `"./batched_files"`</font>

***
#### 2. Construye un pipeline que sea capaz de:✔️
> a) Cargar todos los archivos .CSV excepto el llamado “validation.csv” (El pipeline no debe contener todo el conjunto de datos, es decir, los 5 archivos .CSV al mismo tiempo en memoria en cualquier momento).
> b) Almacena los datos de los archivos .CSV, en una base de datos de tu elección (ejemplo: PostgreSQL, MySQL, etc). El diseño de esta base de datos dependerá de ti, crea la tabla o tablas que creas necesarias con el esquema que creas es adecuado, pero ten presente que todos los .CSV deben ir en la misma base de datos.
> c) A medida que los datos son cargados, realiza un seguimiento de:
>> - Recuento (Count) de filas cargadas a la base de datos.
>> - Valor medio, mínimo y máximo del campo “price”.
##### <font color='green'>Solución:</font>

<font color='green'>i. Identificar archivos de batches y ordenarlos</font>

In [10]:
import pandas as pd
import os

batch_folder = "./batched_files/"
list_of_files = os.listdir(batch_folder)
list_of_files.sort()
list_of_files.remove('validation.csv')
list_of_files

['2012-1.csv', '2012-2.csv', '2012-3.csv', '2012-4.csv', '2012-5.csv']

<font color='green'>ii. Conectarse a la base de datos</font>

In [11]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
# Define the database connection parameters
db_host = "localhost"
db_user = "pragma"
db_password = "password"
db_name = "pragma"
# Create a SQLAlchemy engine
connection_string = f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}"
engine = create_engine(connection_string)

<font color='green'>iii. Para cada fila del batch, leer cada registro, actualizar en la base de datos</font>

In [12]:
import datetime as datetime
import numpy as np
from typing import Tuple

def extract_batch(batch_file_path: str) -> pd.DataFrame:
    """
    Reads the csv batch file into a pandas DataFrame.
    ----

    ## Parameters:
    
    batch_file_path: contains the path of the batch file

    """
    batch = pd.read_csv(batch_file_path,parse_dates=[0] ,date_format="M/DD/YYYY")
    batch["date"]=pd.to_datetime(batch["timestamp"])
    batch = batch.drop("timestamp", axis=1)
    return batch

def load_batch(
        batch: pd.DataFrame,
        engine:sqlalchemy.engine,
        price_max: float,
        price_min: float,
        price_mean: float,
        price_count: int,
        row_count: int,
        print_stats: bool = True,
    ) -> Tuple[float, float, float, int, int]:
    for __, row in batch.iterrows():
        price = float(row["price"])
        if not np.isnan(price):
            price_max = max(price_max,price)
            price_min = min(price_min,price)
            price_mean = (price_mean*price_count + price)/(price_count+1)
            price_count = price_count+1
        row_count +=1
        pd.DataFrame(row).T.to_sql(name="purchases",con=engine,if_exists="append",index=False)
        if print_stats:
            print("row_count: ", row_count, end=" ")
            print("price_max: ", price_max, end=" ")
            print("price_min: ", price_min, end=" ")
            print("price_mean: ", price_mean)
    return(price_max, price_min, price_mean, price_count, row_count)

In [13]:
# inicializar estadísticos:
price_max = -np.inf
price_mean = 0.
price_min = np.inf
price_count = 0
row_count = 0

# populate the database
for file_path in list_of_files:
    batch_file_path = f"{batch_folder}{file_path}"
    batch = extract_batch(batch_file_path)
    price_max, price_min, price_mean, price_count, row_count = load_batch(
        batch, engine, price_max, price_min, price_mean, price_count, row_count)

row_count:  1 price_max:  50.0 price_min:  50.0 price_mean:  50.0
row_count:  2 price_max:  87.0 price_min:  50.0 price_mean:  68.5
row_count:  3 price_max:  87.0 price_min:  50.0 price_mean:  67.0
row_count:  4 price_max:  87.0 price_min:  20.0 price_mean:  55.25
row_count:  5 price_max:  87.0 price_min:  14.0 price_mean:  47.0
row_count:  6 price_max:  95.0 price_min:  14.0 price_mean:  55.0
row_count:  7 price_max:  95.0 price_min:  14.0 price_mean:  60.714285714285715
row_count:  8 price_max:  95.0 price_min:  14.0 price_mean:  60.875
row_count:  9 price_max:  95.0 price_min:  14.0 price_mean:  59.22222222222222
row_count:  10 price_max:  97.0 price_min:  14.0 price_mean:  63.0
row_count:  11 price_max:  97.0 price_min:  14.0 price_mean:  60.09090909090909
row_count:  12 price_max:  97.0 price_min:  14.0 price_mean:  60.09090909090909
row_count:  13 price_max:  97.0 price_min:  14.0 price_mean:  58.166666666666664
row_count:  14 price_max:  97.0 price_min:  14.0 price_mean:  59.38461538461539
row_count:  15 price_max:  97.0 price_min:  14.0 price_mean:  58.357142857142854
row_count:  16 price_max:  97.0 price_min:  14.0 price_mean:  56.266666666666666
row_count:  17 price_max:  97.0 price_min:  14.0 price_mean:  57.625
row_count:  18 price_max:  97.0 price_min:  14.0 price_mean:  56.705882352941174
row_count:  19 price_max:  97.0 price_min:  14.0 price_mean:  56.05555555555556
row_count:  20 price_max:  97.0 price_min:  14.0 price_mean:  58.1578947368421
row_count:  21 price_max:  97.0 price_min:  14.0 price_mean:  58.1578947368421
row_count:  22 price_max:  97.0 price_min:  14.0 price_mean:  59.65
row_count:  23 price_max:  97.0 price_min:  14.0 price_mean:  60.42857142857143
row_count:  24 price_max:  97.0 price_min:  14.0 price_mean:  60.68181818181818
row_count:  25 price_max:  97.0 price_min:  14.0 price_mean:  60.08695652173913
row_count:  26 price_max:  100.0 price_min:  14.0 price_mean:  61.75
row_count:  27 price_max:  100.0 price_min:  14.0 price_mean:  60.04
row_count:  28 price_max:  100.0 price_min:  14.0 price_mean:  60.0
row_count:  29 price_max:  100.0 price_min:  14.0 price_mean:  60.629629629629626
row_count:  30 price_max:  100.0 price_min:  14.0 price_mean:  62.035714285714285
row_count:  31 price_max:  100.0 price_min:  14.0 price_mean:  61.793103448275865
row_count:  32 price_max:  100.0 price_min:  14.0 price_mean:  60.36666666666667
row_count:  33 price_max:  100.0 price_min:  14.0 price_mean:  61.483870967741936
row_count:  34 price_max:  100.0 price_min:  14.0 price_mean:  61.84375
row_count:  35 price_max:  100.0 price_min:  14.0 price_mean:  60.93939393939394
row_count:  36 price_max:  100.0 price_min:  14.0 price_mean:  61.94117647058823
row_count:  37 price_max:  100.0 price_min:  12.0 price_mean:  60.51428571428571
row_count:  38 price_max:  100.0 price_min:  12.0 price_mean:  59.861111111111114
row_count:  39 price_max:  100.0 price_min:  12.0 price_mean:  59.0
row_count:  40 price_max:  100.0 price_min:  10.0 price_mean:  57.71052631578947
row_count:  41 price_max:  100.0 price_min:  10.0 price_mean:  56.92307692307692
row_count:  42 price_max:  100.0 price_min:  10.0 price_mean:  55.85
row_count:  43 price_max:  100.0 price_min:  10.0 price_mean:  56.609756097560975
row_count:  44 price_max:  100.0 price_min:  10.0 price_mean:  57.04761904761905
row_count:  45 price_max:  100.0 price_min:  10.0 price_mean:  56.55813953488372
row_count:  46 price_max:  100.0 price_min:  10.0 price_mean:  57.18181818181818
row_count:  47 price_max:  100.0 price_min:  10.0 price_mean:  57.28888888888889
row_count:  48 price_max:  100.0 price_min:  10.0 price_mean:  57.26086956521739
row_count:  49 price_max:  100.0 price_min:  10.0 price_mean:  56.40425531914894
row_count:  50 price_max:  100.0 price_min:  10.0 price_mean:  56.5625
row_count:  51 price_max:  100.0 price_min:  10.0 price_mean:  56.795918367346935
row_count:  52 price_max:  100.0 price_min:  10.0 price_mean:  57.16
row_count:  53 price_max:  100.0 price_min:  10.0 price_mean:  56.27450980392157
row_count:  54 price_max:  100.0 price_min:  10.0 price_mean:  56.55769230769231
row_count:  55 price_max:  100.0 price_min:  10.0 price_mean:  56.867924528301884
row_count:  56 price_max:  100.0 price_min:  10.0 price_mean:  56.2037037037037
row_count:  57 price_max:  100.0 price_min:  10.0 price_mean:  55.67272727272727
row_count:  58 price_max:  100.0 price_min:  10.0 price_mean:  56.125
row_count:  59 price_max:  100.0 price_min:  10.0 price_mean:  56.87719298245614
row_count:  60 price_max:  100.0 price_min:  10.0 price_mean:  57.08620689655172
row_count:  61 price_max:  100.0 price_min:  10.0 price_mean:  56.440677966101696
row_count:  62 price_max:  100.0 price_min:  10.0 price_mean:  56.03333333333333
row_count:  63 price_max:  100.0 price_min:  10.0 price_mean:  56.67213114754098
row_count:  64 price_max:  100.0 price_min:  10.0 price_mean:  56.903225806451616
row_count:  65 price_max:  100.0 price_min:  10.0 price_mean:  57.0
row_count:  66 price_max:  100.0 price_min:  10.0 price_mean:  56.9375
row_count:  67 price_max:  100.0 price_min:  10.0 price_mean:  57.4
row_count:  68 price_max:  100.0 price_min:  10.0 price_mean:  57.878787878787875
row_count:  69 price_max:  100.0 price_min:  10.0 price_mean:  57.208955223880594
row_count:  70 price_max:  100.0 price_min:  10.0 price_mean:  57.455882352941174
row_count:  71 price_max:  100.0 price_min:  10.0 price_mean:  57.84057971014493
row_count:  72 price_max:  100.0 price_min:  10.0 price_mean:  57.27142857142857
row_count:  73 price_max:  100.0 price_min:  10.0 price_mean:  56.91549295774648
row_count:  74 price_max:  100.0 price_min:  10.0 price_mean:  57.458333333333336
row_count:  75 price_max:  100.0 price_min:  10.0 price_mean:  57.41095890410959
row_count:  76 price_max:  100.0 price_min:  10.0 price_mean:  57.74324324324324
row_count:  77 price_max:  100.0 price_min:  10.0 price_mean:  57.96
row_count:  78 price_max:  100.0 price_min:  10.0 price_mean:  57.973684210526315
row_count:  79 price_max:  100.0 price_min:  10.0 price_mean:  57.64935064935065
row_count:  80 price_max:  100.0 price_min:  10.0 price_mean:  57.5
row_count:  81 price_max:  100.0 price_min:  10.0 price_mean:  57.822784810126585
row_count:  82 price_max:  100.0 price_min:  10.0 price_mean:  57.9125
row_count:  83 price_max:  100.0 price_min:  10.0 price_mean:  58.27160493827161
row_count:  84 price_max:  100.0 price_min:  10.0 price_mean:  58.08536585365854
row_count:  85 price_max:  100.0 price_min:  10.0 price_mean:  57.66265060240964
row_count:  86 price_max:  100.0 price_min:  10.0 price_mean:  58.05952380952381
row_count:  87 price_max:  100.0 price_min:  10.0 price_mean:  58.32941176470588
row_count:  88 price_max:  100.0 price_min:  10.0 price_mean:  58.44186046511628
row_count:  89 price_max:  100.0 price_min:  10.0 price_mean:  58.47126436781609
row_count:  90 price_max:  100.0 price_min:  10.0 price_mean:  57.95454545454545
row_count:  91 price_max:  100.0 price_min:  10.0 price_mean:  57.438202247191015
row_count:  92 price_max:  100.0 price_min:  10.0 price_mean:  57.477777777777774
row_count:  93 price_max:  100.0 price_min:  10.0 price_mean:  57.53846153846154
row_count:  94 price_max:  100.0 price_min:  10.0 price_mean:  57.869565217391305
row_count:  95 price_max:  100.0 price_min:  10.0 price_mean:  57.924731182795696
row_count:  96 price_max:  100.0 price_min:  10.0 price_mean:  57.840425531914896
row_count:  97 price_max:  100.0 price_min:  10.0 price_mean:  58.252631578947366
row_count:  98 price_max:  100.0 price_min:  10.0 price_mean:  58.583333333333336
row_count:  99 price_max:  100.0 price_min:  10.0 price_mean:  58.583333333333336
row_count:  100 price_max:  100.0 price_min:  10.0 price_mean:  58.79381443298969
row_count:  101 price_max:  100.0 price_min:  10.0 price_mean:  58.295918367346935
row_count:  102 price_max:  100.0 price_min:  10.0 price_mean:  57.91919191919192
row_count:  103 price_max:  100.0 price_min:  10.0 price_mean:  58.02
row_count:  104 price_max:  100.0 price_min:  10.0 price_mean:  58.20792079207921
row_count:  105 price_max:  100.0 price_min:  10.0 price_mean:  57.8235294117647
row_count:  106 price_max:  100.0 price_min:  10.0 price_mean:  58.05825242718446
row_count:  107 price_max:  100.0 price_min:  10.0 price_mean:  57.91346153846154
row_count:  108 price_max:  100.0 price_min:  10.0 price_mean:  57.885714285714286
row_count:  109 price_max:  100.0 price_min:  10.0 price_mean:  57.885714285714286
row_count:  110 price_max:  100.0 price_min:  10.0 price_mean:  57.839622641509436
row_count:  111 price_max:  100.0 price_min:  10.0 price_mean:  57.60747663551402
row_count:  112 price_max:  100.0 price_min:  10.0 price_mean:  57.77777777777778
row_count:  113 price_max:  100.0 price_min:  10.0 price_mean:  58.0
row_count:  114 price_max:  100.0 price_min:  10.0 price_mean:  58.027272727272724
row_count:  115 price_max:  100.0 price_min:  10.0 price_mean:  57.67567567567568
row_count:  116 price_max:  100.0 price_min:  10.0 price_mean:  58.0
row_count:  117 price_max:  100.0 price_min:  10.0 price_mean:  57.63716814159292
row_count:  118 price_max:  100.0 price_min:  10.0 price_mean:  57.29824561403509
row_count:  119 price_max:  100.0 price_min:  10.0 price_mean:  57.37391304347826
row_count:  120 price_max:  100.0 price_min:  10.0 price_mean:  56.991379310344826
row_count:  121 price_max:  100.0 price_min:  10.0 price_mean:  56.76923076923077
row_count:  122 price_max:  100.0 price_min:  10.0 price_mean:  57.09322033898305
row_count:  123 price_max:  100.0 price_min:  10.0 price_mean:  57.260504201680675
row_count:  124 price_max:  100.0 price_min:  10.0 price_mean:  56.916666666666664
row_count:  125 price_max:  100.0 price_min:  10.0 price_mean:  56.62809917355372
row_count:  126 price_max:  100.0 price_min:  10.0 price_mean:  56.90983606557377
row_count:  127 price_max:  100.0 price_min:  10.0 price_mean:  56.80487804878049
row_count:  128 price_max:  100.0 price_min:  10.0 price_mean:  57.024193548387096
row_count:  129 price_max:  100.0 price_min:  10.0 price_mean:  57.08
row_count:  130 price_max:  100.0 price_min:  10.0 price_mean:  57.285714285714285
row_count:  131 price_max:  100.0 price_min:  10.0 price_mean:  57.07086614173228
row_count:  132 price_max:  100.0 price_min:  10.0 price_mean:  57.109375
row_count:  133 price_max:  100.0 price_min:  10.0 price_mean:  57.35658914728682
row_count:  134 price_max:  100.0 price_min:  10.0 price_mean:  57.59230769230769
row_count:  135 price_max:  100.0 price_min:  10.0 price_mean:  57.412213740458014
row_count:  136 price_max:  100.0 price_min:  10.0 price_mean:  57.734848484848484
row_count:  137 price_max:  100.0 price_min:  10.0 price_mean:  57.8796992481203
row_count:  138 price_max:  100.0 price_min:  10.0 price_mean:  58.12686567164179
row_count:  139 price_max:  100.0 price_min:  10.0 price_mean:  58.148148148148145
row_count:  140 price_max:  100.0 price_min:  10.0 price_mean:  58.213235294117645
row_count:  141 price_max:  100.0 price_min:  10.0 price_mean:  58.07299270072993
row_count:  142 price_max:  100.0 price_min:  10.0 price_mean:  58.06521739130435
row_count:  143 price_max:  100.0 price_min:  10.0 price_mean:  57.88489208633094

***
#### 3. Comprobación de resultados:✔️
Imprime el valor actual de las estadísticas en ejecución. Idealmente después de la inserción de cada
fila.
> - Realiza una consulta en la base de datos del: recuento total de filas, valor promedio, valor mínimo y valor máximo para el campo “price”.
> - Ejecuta el archivo “validation.csv” a través de todo el pipeline y muestra el valor de las estadísticas en ejecución.
> - Realice una nueva consulta en la base de datos después de cargar “validation.csv”, para observar cómo cambiaron los valores del: recuento total de filas, valor promedio, valor mínimo y valor máximo para el campo “price”.

##### <font color='green'>Solución:</font>

<font color='green'>consulta a la base de datos previa a la validación</font>

In [14]:
price_stats = pd.read_sql("SELECT COUNT(id) AS count, MAX(price) AS max, MIN(price) AS min, AVG(price) as mean FROM purchases", con=engine)
price_stats

   count    max   min      mean
0    143  100.0  10.0  57.88489

<font color='green'>Correr el pipeline para la validación</font>

In [15]:
batch_file_path = f"{batch_folder}validation.csv"
batch = extract_batch(batch_file_path)
price_max, price_min, price_mean, price_count, row_count = load_batch(
    batch, engine, price_max, price_min, price_mean, price_count, row_count)

# close the database connection
engine.dispose()

row_count:  144 price_max:  100.0 price_min:  10.0 price_mean:  57.657142857142865
row_count:  145 price_max:  100.0 price_min:  10.0 price_mean:  57.32624113475178
row_count:  146 price_max:  100.0 price_min:  10.0 price_mean:  57.01408450704226
row_count:  147 price_max:  100.0 price_min:  10.0 price_mean:  57.25874125874127
row_count:  148 price_max:  100.0 price_min:  10.0 price_mean:  57.076388888888886
row_count:  149 price_max:  100.0 price_min:  10.0 price_mean:  57.110344827586204
row_count:  150 price_max:  100.0 price_min:  10.0 price_mean:  56.80821917808219
row_count:  151 price_max:  100.0 price_min:  10.0 price_mean:  57.006802721088434

In [17]:
price_stats = pd.read_sql("SELECT COUNT(id) AS count, MAX(price) AS max, MIN(price) AS min, AVG(price) as mean FROM purchases", con=engine)
price_stats

   count    max   min     mean
0    151  100.0  10.0  57.0068